.c_month {
  padding: 2em 1em;

  &__nav {
    position: relative;

    &__button {
      position: absolute;
      top: 4px;
      height: 2em;
      width: 2em;

      color: $white;
      background: $color__main__foreground;
      border-radius: 50%;

      path {
        stroke: $white;
      }

      &--prev {
        left: 0;
      }

      &--next {
        right: 0;
      }
    }
  }

  &__name {
    font-size: 2.5em;
    letter-spacing: 5px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
  }

  &__calendar {
    display: flex;
    flex-flow: row wrap;
  
    border: 1px solid $beta;

    &__day-name,
    &__day{
      flex: 1 0 calc(100% / 7);
      margin: 0;
      min-width: calc(100% / 7);
    }

    &__day-name {
      background: $beta;
      color: #fff;
      font-size: 1.2em;
      line-height: 3;
      font-weight: 600;
      letter-spacing: 1px;
      font-size: .8em;
      text-align: center;
      text-transform: uppercase;
    }
  }
}
