// colors

$alpha: #BD1550;
$beta: #8A9B0F;
$gamma: #490A3D;
$epsilon: #E97F02;
$delta: #F8CA00;
$white: #fff;

$color__main__background: $white;
$color__main__foreground: $alpha;
$color__main__text: #666;
$color__side__background: $gamma;
$color__side__foreground: $alpha;
$color__side__text: $white;

